*{
    margin: 0;
    padding: 0;
    color: white;
}

 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaisei+HarunoUmi&family=Kameron:wght@400..700&family=Kumbh+Sans:wght@100..900&display=swap');

.navbar{
    width:100%;
    background-color: #27C4B1;
    display: flex;
    align-items: center;
    height: 8vh;
    padding: 15px 0;
    /* justify-content: space-around; */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar img{
    padding-left: 80px;
    padding-right: 10px;
    height: 60px;
}

.heading{
    display: inline;
    font-size: 46px;
    font-family: "Kameron", serif;
    font-weight: bold;
}

.tabs{
    display: flex;
    gap: 50px;
   
    font-family: "Kaisei HarunoUmi", serif;
    margin-left: auto;
    margin-right: 80px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-family: bold;
}

.tabs a{
    text-decoration: none;
}

.tabs a:hover{
    color: rgb(0, 100, 100);
}
  
 #vac_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:60vh;
    background-image:url('vacancies_bc.jpg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
 }

 
 #vac_header h1{
    font-size: 50px;
    font-family: "Kameron", serif;
    font-weight: bold;
    color: #0c5e54;
 }
  #vac_header h3{
    width: 33%;
    display: flex;
    text-align: center;
    font-size: 22px;
    color:black;
    font-family: "Kameron", serif;
  }

  #section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
             /* searchbar */
  .searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:50px;
    background-color: #0A5184;
  }
  .fw{
    width: min-content;
    height: max-content;
    margin:3px 7px;
    display: flex;
    flex-direction: column;
  }
   #filter{
    display: flex;
    flex-direction: row;
   }
  .filter{
    margin:0%;
     display: flex;
     justify-content: center;
     align-items: center;
     height:40px;
     width:max-content;
     background-color: rgba(65, 121, 204, 0.4);
     border-radius: 3px;
  }
   .filter #search_1{
    width:24px;
   }
   .filter #search_2{
    width:39px;
   }
   .filter #search_3{
    width:51px;
   }

   .filter h3{
    padding: 0px 20px;
     text-align: center;
     font-family: "Kameron", serif;
     font-size: 20px;
   }
    #search_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width:220px;
        background-color: #AEFFF5;
        border-radius: 3px;
        margin:4px 2px;
    }
    #search_btn #search_logo{
        width: 30px;
    }
    #search_btn h3{
        font-family: "Kameron", serif;
        padding: 0px 20px;
        color:#0A5184;
        font-weight: bold;
    }
       /* hidden blocks in search bar */
       .location{
           background-color: #b0ede6;
           position: relative;
           display: flex;
           flex-direction: column;
           width:100%;
           margin: 3%;
       }
       .location select {
        margin:0%;
        width:100%;
        font-family: "Kameron", serif;
        font-weight: bold;
        color:#08453d;
       }
         .location select option{
            font-family: "Kameron", serif;
            font-weight: bold;
            color:#08453d;
            height: min-content;
            width:min-content;
         }

       .Property_type{
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        flex-direction: column;
        width:100%;
      position:relative;
        margin:3%;
        border-radius: 5px;
        
       }
       .Property_type h3{
        margin:1px;
        background-color: #c9fcf6;
        color:#0c5e54;
       }
       #Residencial{
        flex-wrap: wrap;
        display: flex;
       }
       #Commercial{
        flex-wrap: wrap;
        display: flex;
       }
       #OtherTypes{
        display: flex;
       }
       .type{
        margin:5px 5px;
        background-color: rgba(150, 241, 241, 0.7);
        border-radius: 3px;
        color:#08453d;
        font-size: 17px;
       }
          
        .budget {
            margin: 3%;
            background-color: #c9fcf6;
            position: relative;
            width:100%;
        }
         .budget input{
            font-family: "Kameron", serif;
            font-weight: bold;
            color:#08453d;
            margin:3px;
            width:90%;
         }
       
/* listings starts here */

   #listings{
    width:100%;
    height:auto;
    display: grid;
     grid-template-columns: 1fr 1fr;
    align-items: center;
   }

   .property{
    margin:20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 20px;
    width:fit-content;
    height: fit-content;
    background-image:  linear-gradient( to right,#38E1CD,#A3FBF1);
    border-top-left-radius: 60px ;
    border-bottom-right-radius: 60px;
   }
   .mainText{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width:80%;
     margin: 2px 2px;
   }
    
   
   .home_img{
    height: 200px;
    width: 200px;
    background-image: url('home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 3vh;
   }

   .common_properties{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:fit-content;
    height:70px;
    background-color: rgba(244, 255, 255,0.4);
    margin:2px 0px;
   }
   .common_properties div{
    margin:2px 4px;
    width:fit-content;
   }
   .mainText div h3{
    font-family: "Kameron", serif;
    font-weight: bold;
     font-size: 21px ;
    color: black;
    
   }
    .mainText div h4{
        margin:0px 2px;
        font-family: "Kameron", serif;
        font-weight: normal;
        font-size: 19px ;
       color: #32655C;
    }
    .property_type{
        display: flex;
        flex-direction: row;
    }
    .address{
        display: flex;
        flex-direction: row;
    }
    .amenities{
        display: flex;
        flex-direction: row;
    }
    .pet_policy{
        display: flex;
        flex-direction: row;
    }
    .text{
        height:fit-content;
        width:100%;
       background-color: rgba(224, 255, 255,0.2);
    }
    .buttons{
        display: flex;
        flex-direction: row;
        margin:0%;
        padding: 0%;     
    }
    .btn{
         height:30px;
         width:160px;
         background-color: #0c5e54;
         border-radius: 5px;
         margin: 5px;
    }
    @media screen and (max-width: 1240px) and (min-width:900px) {
         .property{
            justify-content: center;
            align-items: center;
            min-width: fit-content;
                flex-direction: column;
         }
         .common_properties{
            margin: 2px 45px;
         }    
    }
    @media screen and (max-width:900px) {
        #listings{
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width:660px) {
           .searchbar{
            height:fit-content;
            flex-direction: column;
            align-items: center;
           }
           .fw{
            justify-content: center;
            align-items: center;
            width:90%;
           }
           .filter{
            width:100%;
           }
        #search_btn{
             width:90%;
        }
        #property_type{
            margin: 0%;
            width:90%;
            transform: translateY(80%) ;
        }
    }
    @media screen and (max-width:600px){
        .property{
            justify-content: center;
            align-items: center;
            min-width: fit-content;
            flex-direction: column;
     }
       .common_properties{
        margin: 2px 45px;
     }     
    }
    .display{
        margin:0%;
        display : none;
    }
