<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Add Property</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/addProperties.css">

</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>
  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>
  <section class="container">
    <div class="sidebar">
      <ul class="main_feature">
        <a href="/owner_portal" class="feature">
          <li id="myProfile">My Profile</li>
        </a>
        <a href="/myProperties" class="feature">
          <li>My Properties</li>
        </a>
        <a href="#" class="feature">
          <li>Add Properties</li>
        </a>
      </ul>

      <h3 class="text">~TENANTS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>My Tenants</li>
        </a>
        <a href="#" class="feature">
          <li>Tenant Requests</li>
        </a>
        <a href="#" class="feature">
          <li>Messages</li>
        </a>
      </ul>

      <h3 class="text">~TOOLS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>Rent Estimate</li>
        </a>
      </ul>
    </div>



    <div class="diff_features">

      <div class="Add_properties feature_display">
        <form action="/addproperties" method="post">
          <div class="image">
            <label for="Image" class="Image">
              <img src="#" alt="Add Image" class="preview">
              <input type="file" name="image" id="Image" accept="image/*">
            </label>
          </div>
          <div>
            <label for="photo">ADD IMAGE</label>
            <input type="file" name="image" id="photo" accept="image/png, image/jpeg">             
          </div>
          <div class="inputs">
            <label for="ownerName">Owner Name</label>
            <input type="text" name="ownerName" id="ownerName" value="">
          </div>
          <div class="inputs">
            <label for="rent">Rent</label>
            <input type="number" name="price" id="rent" value="">
          </div>
          <div class="inputs address_div">
            <label for="address">Address</label>
            <div class="address">
              <input type="text" name="address" id="address">
              <div class="select">
                <select name="city" id="city" class="select_city ">
                  <option value="" selected>Select City</option>
                  <option value="Indore">Indore</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Jaipur">Delhi</option>
                  <option value="Chennai">Chennai</option>
                </select>
                <select name="state" id="state" class="select_state ">
                  <option value="" selected>Select State</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Gujrat">Gujrat</option>
                  <option value="Tamilnadu">Tamilnadu</option>
                  <option value="Rajsthaan">Rajsthaan</option>
                </select>
              </div>
            </div>
          </div>

          <div class="inputs">
            <label for="type">Property type</label>
            <div class="select">
              <select class="pclass" name="propertyType" id="type">
                <option value="" selected>Select Type</option>
                <option value="Flat">Flat</option>
                <option value="Villa">Villa</option>
              </select>
              <select name="subCategory" id="bhk">
                <option value="" selected>Select BHK</option>
                <option value="1 BHK">1 BHK</option>
                <option value="2 BHK">2 BHK</option>
                <option value="3 BHK">3 BHK</option>
                <option value="4 BHK">4 BHK</option>
                <option value="4 BHK+">4 BHK+</option>
              </select>
            </div>
          </div>
          <div class="inputs">
            <label for="carpetArea">Carpet Area (sq ft)</label>
            <input type="number" name="carpetArea" value="" id="carpetArea">
          </div>
          <div class="inputs">
            <label for="amenities">Amenities</label>
            <input type="text" name="amenities" id="amenities" value="">
          </div>
          <div class="inputs">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="">
          </div>
          <div class="inputs">
            <label for="propertyAge">Property Age (in years)</label>
            <input type="number" name="propertyAge" id="propertyAge" value="">
          </div>
          <div class="inputs">
            <label for="ownershipType">Type of Ownership</label>
            <input type="text" name="ownershipType" id="ownershipType" value="">
          </div>
          <div class="inputs">
            <label for="furnishedStatus">Furnished Status </label>
            <input type="text" name="furnishedStatus" id="furnishedStatus" value="">
          </div>
          <div class="inputs">
            <label for="petPolicy">Pet policy </label>
            <input type="petPolicy" name="petPolicy" id="petPolicy" value="">
          </div>

          <button type="submit" id="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
  <script src="/javascripts/owner_portal.js"></script>
</body>

</html>
