<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Add Property</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/addProperties.css">
  <link rel="stylesheet" href="/stylesheets/output.css">

</head>

<body>
  <!-- NAVBAR -->
  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>

  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>


  <section class="container">
    <!-- SIDEBAR -->
    <div class="side fit">

      <div class="sidebar">
        <ul class="main_feature">
          <a href="/owner_portal" class="feature">
            <li id="myProfile">My Profile</li>
          </a>
          <a href="/myProperties" class="feature">
            <li>My Properties</li>
          </a>
          <a href="#" class="feature">
            <li>Add Properties</li>
          </a>
        </ul>
        <h3 class="text">~TENANTS</h3>
        <ul class="main_feature">
          <a href="/my_tenants" class="feature">
            <li>My Tenants</li>
          </a>
          <a href="/message" target="_blank" class="feature">
            <li>Messages</li>
          </a>
          <a href="/request" target="_blank" class="feature"> 
            <li>Requests</li>
          </a>
        </ul>
        <h3 class="text">~TOOLS</h3>
        <ul class="main_feature">
          <a href="/rent_estimate" class="feature">
            <li>Rent Estimate</li>
          </a>
          <a href="/rentalIncome" class="feature"> 
            <li>Rental Income</li>
          </a>
        </ul>
      </div>

      <div id="sidebar_icon" class="back">
        <img src="/images/sidebar-icon.png" alt="error" class="icon1">
      </div>

    </div>

    <div class="diff_features">

      <!-- ADD PROPERTIES HTML -->
      <div class="Add_properties feature_display box">
        <div class="form">

          <form action="/addproperties" method="post" enctype="multipart/form-data">

            <div class="inputs">
              <label for="ownerName">Owner Name</label>
              <input type="text" name="ownerName" class="bg-input-bg" id="ownerName" value="">
            </div>
            <div class="inputs">
              <label for="photo">Upload Image</label>
              <input type="file" id="photo" name="image" class="bg-input-bg" value="">
            </div>
            <div class="inputs">
              <label for="rent">Rent</label>
              <input type="number" name="price" id="rent" class="bg-input-bg" placeholder="₹" value="">
            </div>
            <div class="inputs">
              <label for="address">Address</label>
              <!-- <input type="text" name="address" id="address"> -->
              <textarea name="address" id="address" class="bg-input-bg" rows="3"></textarea>
            </div>
            <div class="select end">

              <input type="text" name="city" id="city" class="bg-input-bg" placeholder="City">
              <input type="text" name="state" id="state" class="bg-input-bg" placeholder="State">

            </div>

            <div class="inputs">
              <label for="type">Property type</label>
              <div class="select">
                <select class="pclass bg-input-bg" name="propertyType" id="type">
                  <option value="" selected>Select Type</option>
                  <option value="Flat">Flat</option>
                  <option value="Villa">Villa</option>
                </select>
                <select name="subCategory" class="bg-input-bg" id="bhk">
                  <option value="" selected>Select BHK</option>
                  <option value="1 BHK">1 BHK</option>
                  <option value="2 BHK">2 BHK</option>
                  <option value="3 BHK">3 BHK</option>
                  <option value="4 BHK">4 BHK</option>
                  <option value="4 BHK+">4 BHK+</option>
                </select>
              </div>
            </div>
            <div class="inputs">
              <label for="carpetArea">Carpet Area<br>
              </label>
              <input type="number" name="carpetArea" class="bg-input-bg" value="" placeholder="sq ft" id="carpetArea">
            </div>
            <div class="inputs">
              <label for="amenities">Amenities</label>
              <input type="text" name="amenities" class="bg-input-bg" id="amenities" value="">
            </div>
            <div class="inputs">
              <label for="description">Description</label>
              <!-- <input type="text" name="description" id="description" value=""> -->
              <textarea name="description" class="bg-input-bg" id="description" rows="3"></textarea>
            </div>
            <div class="inputs">
              <label for="propertyAge">Property Age<br>
              </label>
              <input type="number" name="propertyAge" id="propertyAge" class="bg-input-bg" placeholder="years" value="">
            </div>
            <div class="inputs">
              <label for="ownershipType">Type of Ownership</label>
              <input type="text" name="ownershipType" id="ownershipType" class="bg-input-bg" placeholder="freehold/commonhold" value="">
            </div>
            <div class="inputs">
              <label for="furnishedStatus">Furnished Status </label>
              <input type="text" name="furnishedStatus" id="furnishedStatus" class="bg-input-bg" placeholder="full/semi/unfurnished" value="">
            </div>
            <div class="inputs">
              <label for="petPolicy">Pet policy </label>
              <input type="petPolicy" name="petPolicy" id="petPolicy" class="bg-input-bg" placeholder="allowed/not allowed" value="">
            </div>
            <div class="submit_button">
              <button type="submit" id="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>


    </div>
  </section>
  <script src="/javascripts/add_properties.js"></script>
</body>

</html>