<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/addProperties.css">

</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/loggedInHome" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>
  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="home.ejs" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>
  <section class="container">
    <div class="sidebar">
      <h3 class="feature">Owner Portal</h3>
      <ul class="main_feature">
        <a href="/owner_Portal" class="feature">
          <li>My Properties</li>
        </a>
        <a href="/addproperties" class="feature">
          <li>Add Properties</li>
        </a>
      </ul>

      <h3 class="text">~TENANTS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>My Tenants</li>
        </a>
        <a href="#" class="feature">
          <li>Tenant Requests</li>
        </a>
        <a href="#" class="feature">
          <li>Messages</li>
        </a>
      </ul>

      <h3 class="text">~TOOLS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>Rent Estimate</li>
        </a>
      </ul>
    </div>



    <div class="diff_features">


      <div class="Add_properties feature_display">
        <form action="/addProperties">
          <div class="image">
            <label for="Image" class="Image">
              <img src="#" alt="Add Image" class="preview">
              <input type="file" name="Image" id="Image" accept="image/*">
            </label>
          </div>
          <div class="inputs">
            <label for="rent">Rent</label>
            <input type="text" name="rent" id="Rent" value="">
          </div>
          <div class="inputs address_div">
            <label for="address">Address</label>
            <div class="address">
              <input type="text" id="address">
              <div class="select">
                <select name="city" id="city" class="select_city ">
                  <option value="" selected>Select City</option>
                  <option value="Indore">Indore</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Jaipur">Delhi</option>
                  <option value="Chennai">Chennai</option>
                </select>
                <select name="state" id="state" class="select_state ">
                  <option value="" selected>Select State</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Gujrat">Gujrat</option>
                  <option value="Tamilnadu">Tamilnadu</option>
                  <option value="Rajsthaan">Rajsthaan</option>
                </select>
              </div>
            </div>
          </div>

          <div class="inputs">
            <label for="Property_type">Property type</label>
            <div class="select">
              <select class="pclass" name="type" id="type">
                <option value="" selected>Select Type</option>
                <option value="Flat">Flat</option>
                <option value="Villa">Villa</option>
              </select>
              <select name="bhk" id="bhk">
                <option value="" selected>Select BHK</option>
                <option value="1 BHK">1 BHK</option>
                <option value="2 BHK">2 BHK</option>
                <option value="3 BHK">3 BHK</option>
                <option value="4 BHK">4 BHK</option>
                <option value="4 BHK+">4 BHK+</option>
              </select>
            </div>
          </div>
          <div class="inputs">
            <label for="Amenities">Amenities</label>
            <input type="text" name="Amenities" id="Amenities" value="">
          </div>
          <div class="inputs">
            <label for="Text">Description</label>
            <input type="text" name="Text" id="Text" value="">
          </div>
          <div class="inputs">
            <label for="pet_policy">Pet policy </label>
            <input type="text" name="Pet_policy" id="Pet_policy" value="">
          </div>
          <div class="inputs">
            <label for="Availability">Availability</label>
            <input type="text" name="Availability" value="" id="Availability">
          </div>

          <button type="submit" id="submit">Submit</button>
        </form>
      </div>


    </div>





  </section>




  <script src="/javascripts/owner_portal.js"></script>
</body>

</html>