<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maintenance Request</title>
  <!-- <link rel="stylesheet" href="stylesheets/rent_estimate.css"> -->
  <style>
    body {
      background: white;
    }

    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      font-size: 34px;
      padding: 0;
      margin: 10px;
      margin-top: 30px;
      text-align: center;
    }

    .form {
      background-image: url("/images/register_bc.jpg");
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: 20px 50px;
      min-width: 700px;
      width: 60%;
      padding: 20px 60px;
      box-sizing: border-box;
      border-radius: 20px;
      box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.25);
    }


    form label,
    .diff_features div {
      color: black;
      font-size: 24px;
    }

    select,
    option {
      color: black;
      cursor: pointer;
    }

    input,
    select,
    textarea {
      background-color: #418A7DF2;
      color: white;
      border-radius: 5px;
      width: 300px;
      height: 35px;
      text-align: center;
      border: none;
      font-size: 20px;
      font-family: "Kaisei HarunoUmi", serif;
    }

    input {
      padding-left: 5px;
      box-sizing: border-box;
    }

    textarea {
      height: 50px;
      box-sizing: border-box;
    }

    button {
      color: white;
      background-color: #000000B3;
      border: none;
      border-radius: 10px;
      height: 45px;
      width: 200px;
      margin-top: 50px;
      margin-right: auto;
      font-size: 24px;
      font-family: "Kameron", serif;
      cursor: pointer;
    }

    .submit_button {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }

    .select,
    .inputs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20%;
      align-items: flex-start;
      margin-top: 15px;
    }

    .RE {
      font-size: 30px;
      color: black;
    }

    @media only screen and (max-width:780px) {
      form label {
        font-size: 18px;
      }

      h3 {
        font-size: 28px;
      }

      .form {
        margin: 20px 20px;
        padding: 0 25px;
        padding-bottom: 20px;
        min-width: 0;
        width: 85%;
      }

      input,
      select,
      textarea {
        width: 210px;
      }

      .inputs {
        gap: 30px;
      }
    }

    @media only screen and (max-width:556px) {
      h3 {
        font-size: 20px;
      }

      form label {
        font-size: 14px;
      }

      .form {
        margin: 10px;
        width: 90%;
      }

      .inputs {
        gap: 20px;
      }

      input {
        height: 25px;
        width: 150px;
      }

      textarea {
        height: 40px;
        width: 150px;
      }

      button {
        font-size: 16px;
        padding: 5px 10px;
        width: 120px;
        height: 32px;

      }
    }
  </style>
</head>

<body>
  <div class="box">
    <div class="form">
      <h3>Add Maintenance Request</h3>


      <form action="/maintenanceRequest" method="POST">
        <div class="inputs">
          <label for="tenantName">Tenant Name:</label>
          <input type="text" id="tenantName" name="tenantName" required>
        </div>

        <div class="inputs">
          <label for="propertyType">Property Type:</label>
          <input type="text" id="subject" name="propertyType" required>
        </div>

        <div class="inputs">
          <label for="subCategory">BHK:</label>
          <input type="text" id="subCategory" name="subCategory" required>
        </div>

        <div class="inputs">
          <label for="address">Address:</label>
          <textarea name="address" id="address" rows="3" required></textarea>
        </div>

        <div class="inputs">
          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject" required>
        </div>

        <div class="inputs">
          <label for="description">Description:</label>
          <textarea name="description" id="description" rows="3" required></textarea>
        </div>

        <div class="inputs">
          <label for="Request Date">Request Date</label>
          <input type="text" id="Request Date" name="Request Date" required>
        </div>

        <div class="submit_button">
          <button type="submit">Add Request</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>