<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentEstate | Property in India | Rent or Post</title>
    <link rel="stylesheet" href="stylesheets/homepage.css">
</head>

<body>
    <div id="header">
        <div class="navbar">
            <img src="images/assets/Logo.svg" alt="Logo">
            <div class="heading">RentEstate</div>
            <div class="tabs">
                <a href="home.ejs" class="button">Home</a>
                <a href="/register" class="button">Register</a>
                <a href="/login" class="button">Login</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
                ☰
            </a>
        </div>
        <div id="myLinks" class="overlay">
            <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
            <a href="home.ejs" class="button">Home</a>
            <a href="/register" class="button">Register</a>
            <a href="/login" class="button">Login</a>
        </div>
        <div class="content">
            <div class="section1">
                <div class="head h2">Not able to find a good place or troubling to find tenants..</div>
                <div class="head h3">Total property management of the most comfortable homes in India</div>
                <div class="searchbar">

                    <div class="fw">
                        <div class="filter searchtext" id="location">
                            <img src="images/assets/search_1.svg" id="search_1">
                            <h3 class="search_text">Location</h3>
                        </div>
                        <div class="location display">
                            <select name="city" id="city" class="select ">
                                <option value="" selected>Select City</option>
                                <option value="Indore">Indore</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Ahmedabad">Ahmedabad</option>
                                <option value="Jaipur">Delhi</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                            <select name="state" id="state" class="select ">
                                <option value="" selected>Select State</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Gujrat">Gujrat</option>
                                <option value="Tamilnadu">Tamilnadu</option>
                                <option value="Rajasthan">Rajasthan</option>
                            </select>
                            <select name="country" id="country" class="select ">
                                <option value="India" selected>India</option>
                            </select>
                        </div>
                    </div>

                    <div class="fw">
                        <div class="filter searchtext" id="property">
                            <img src="images/assets/search_2.svg" id="search_2">
                            <h3 class="search_text">Property Type</h3>
                        </div>
                        <div class="Property_type display">
                            <h3 class="Propertytype ">Residencial</h3>
                            <div id="Residencial">
                                <div class="type Residencial display" id="Residencial_1">flat</div>
                                <div class="type Residencial display" id="Residencial_2">House/villa</div>
                                <div class="type Residencial display" id="Residencial_3">1Bhk</div>
                                <div class="type Residencial display" id="Residencial_4">2Bkh</div>
                                <div class="type Residencial display" id="Residencial_5">3Bhk</div>
                                <div class="type Residencial display" id="Residencial_6">4Bhk</div>
                                <div class="type Residencial display" id="Residencial_7">5Bhk</div>
                                <div class="type Residencial display" id="Residencial_8">5+Bhk</div>
                            </div>
                            <h3 class="Propertytype ">Commercial</h3>
                            <div id="Commercial">
                                <div class="type Commercial display" id="commercial_1">OfficeSpace</div>
                                <div class="type Commercial display" id="commercial_2">Shop/Showroom</div>
                                <div class="type Commercial display" id="commercial_3">Industrial Building</div>
                            </div>
                            <h3 class="Propertytype ">Other</h3>
                            <div id="OtherTypes">
                                <div class="type Other display" id="others_1">Agricultural Land</div>
                                <div class="type Other display" id="others_2"> Farm House </div>
                            </div>
                        </div>
                    </div>

                    <div class="fw">
                        <div class="filter searchtext" id="budget">
                            <img src="images/assets/search_3.svg" id="search_3">
                            <h3 class="search_text">Budget</h3>
                        </div>
                        <div class="budget display">
                            <input type="number" name="min_budget" id="min_budget" placeholder="Min_Budget">
                            <input type="number" name="max_budget" id="max_budget" placeholder="Max_Budget">
                        </div>
                    </div>


                    <div id="search_btn">
                        <img src="images/assets/search_logo.svg" id="search_logo">
                        <h3 id="search">Search</h3>
                    </div>
                </div>

            </div>
            <div class="portal_buttons">
                <div class="tenant">
                    <div class="head">Tenants</div>
                    <div class="portal tenant_portal">
                        <img src="images/assets/Lock2.svg" alt="">
                        <span>tenant portal</span>
                    </div>
                </div>
                <div class="owner">
                    <div class="head">Owners</div>
                    <div class="portal owner_portal">
                        <img src="images/assets/Lock.svg" alt="">
                        <span>owner portal</span>
                    </div>
                </div>
            </div>
            <div class="features">
                <div class="h2 second_h2">A Property Management Company You Can Trust</div>
                <div class="h3 second_h3">We focus on the importance of dignity and respect in the provision of our care
                    to property owners, tenants.</div>
                <div class="ag-format-container">
                    <div class="ag-courses_box">
                        <div class="ag-courses_item">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                <div class="ag-courses-item_title">
                                    Dynamic Pricing Engine
                                    <div class="feature_image">
                                        <img src="images/assets/price-tag-svgrepo-com.svg" alt="">
                                    </div>
                                </div>


                            </a>
                        </div>

                        <div class="ag-courses_item">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                <div class="ag-courses-item_title">
                                    Assistant Chatbot
                                    <div class="feature_image">
                                        <img src="images/assets/chatbot.svg" alt="">
                                    </div>
                                </div>


                            </a>
                        </div>

                        <div class="ag-courses_item">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                <div class="ag-courses-item_title">
                                    Seamless Rent Payment
                                    <div class="feature_image">
                                        <img src="images/assets/pay-money-icon.svg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>

                                <div class="ag-courses-item_title">
                                    Effortless Messaging
                                    <div class="feature_image">
                                        <img src="images/assets/Message.svg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div>
                <div class="home">
                    <img src="images/assets/home_background.svg" alt="">
                </div>
            </div>
        </div>


    </div>

    <script src="javascripts/homepage.js"></script>
</body>

</html>
