<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentEstate | Login</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="navbar">
        <img src="/images/Logo.svg" alt="Logo">
        <div class="heading">RentEstate</div>
        <div class="tabs">
                <% if (userId) { %>
                    <a href="/">Home</a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            ☰
        </a>
    </div>
    <div id="myLinks" class="overlay">
        <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
                <% if (userId) { %>
                    <a href="/">Home</a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
    </div>
    <div class="content">
        <div class="body">  
            <div class="container">
                <div class="login">Login</div>
                <% if (typeof error !== 'undefined' && error.length > 0) { %>
                    <p style="color: red;"><%= error %></p> 
                <% } %>
                    
                <div class="form login1">
                <form action="/login" method="post">
                    <div class="email">
                        <label for="email">Email Address</label>
                        <input type="text" required id="email" name="email" placeholder="enter your email address">
                    </div>
                    <div class="password">
                        <label for="password">Password</label>
                        <input type="password" required id="password" name="password" placeholder="enter your password">
                    </div>
                    <button>Submit</button>
                </form>
                
                <button><a href='/auth/google'>Login With Google</a></button>
            </div>
        </div>
    </div>  
</div>  
    <script src="javascripts/index.js"></script>
</body>
</html>
