<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RentEstate | LogOut</title>
    <style>
        .form{

        }
        .header{
            background-color: #1f5d52;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div class="form">
        <div class="header">
            Are you sure you want to Logout ?
        </div>
        <form action="/logout" method="post">
            <button>Yes</button>
        </form>
        <button onclick="window.location.href='/'">No</button>
        
    </div>
</body>
</html>