<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | My Tenants</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="stylesheets/my_tenants.css">

</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>

  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>
  
  <section class="container">

        <div class="side fit">

      <div class="sidebar">
      <ul class="main_feature">
        <a href="/owner_portal" class="feature">
          <li id="myProfile">My Profile</li>
        </a>
        <a href="/myProperties" class="feature">
          <li>My Properties</li>
        </a>
        <a href="/addproperties" class="feature">
          <li>Add Properties</li>
        </a>
      </ul>
      <h3 class="text">~TENANTS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>My Tenants</li>
        </a>
        <a href="/tanant_req" class="feature">
          <li>Tenant Requests</li>
        </a>
        <a href="/message" class="feature"> 
          <li>Messages</li>
        </a>
      </ul>
      <h3 class="text">~TOOLS</h3>
      <ul class="main_feature">
        <a href="#" class="feature">
          <li>Rent Estimate</li>
        </a>
      </ul>
    </div>

        <div id="sidebar_icon">
         <img src="/images/sidebar-icon.png" alt="error" class="icon1">
       </div>
     
      </div>

    <div class="diff_features">
          <!-- MY PROFILE HTML -->
      <div class="myTenants">

         <div class="tenant">
           <div class="circle">MJ</div>

           <div class="textbox">
            <h3>Name</h3>
            <h4>Manan Jiwnani</h4>
           </div>

           <div class="textbox">
            <h3>Email</h3>
            <h4>njfwe@gmail.com</h4>
           </div>

           <div class="textbox">
            <h3>Contact No.</h3>
            <h4>7984227146</h4>
           </div>

           <div class="textbox">
            <h3>Property Id</h3>
            <h4>1@345</h4>
           </div>

           
           <div class="textbox view">
             <h3>Property Details</h3>
             <button id="view">view</button>
            </div>
            
            <div class="sendMsg">
              <button>Send Messege</button>
            </div>
            
            <div class="hoverbox">
              </div>
         </div>
        
     
     
      
        
      </div>

    </div>

  </section>

  <script src="javascripts/my_tenants.js"></script>
</body>

</html>
