<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentEstate | Tenant Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="stylesheets/tenant_properties.css">

</head>

<body>

  <div class="navbar">
    <img src="/images/Logo.svg" alt="Logo">
    <div class="heading">RentEstate</div>
    <div class="tabs">
      <a href="/" class="button">Home</a>
      <a href="/vacancies" class="button">Vacancies</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      ☰
    </a>
  </div>

  <div id="myLinks" class="overlay">
    <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
    <a href="/" class="button">Home</a>
    <a href="/vacancies" class="button">Vacancies</a>
  </div>

  <section class="container">

    <div class="side fit">   

    <div class="sidebar">
     
      <ul class="main_feature">
        <a href="/tenant_portal" class="feature">
          <li>My Profile</li>
        </a>
        <a href="#" class="feature">
          <li>My properties</li>
        </a>
        <a href="/vacancies" class="feature">
          <li>Find Vacancies</li>
        </a>
      </ul>

      <h3 class="text">~Owners</h3>
      <ul class="main_feature">
        <a href="/my_owners" class="feature">
          <li>My Owners</li>
        </a>
        <button  class="feature"> 
          <a href="/message" class="feature"> <li>Messages</li></a>
         </button>
      </ul>
    </div>

    <div id="sidebar_icon">
      <img src="/images/sidebar-icon.png" alt="error" class="icon1">
    </div>
  
   </div>


    <div class="diff_features">
      
      <div class="features_display My_properties">
        <h1 class="MAIN_text">Rented Out Properties</h1>
        <hr>
        <div class="rented_properties">
          <div class="property">
            <div class="home_img"></div>

            <div class="property_type">
              <h3>Property Type</h3>
              <div class="type">
                <h4 class="propety_type_value">Residencial</h4>
                <h4 class="property_inner_type">villa/house</h4>
              </div>
            </div>

            <div class="address ">
              <h3>Address</h3>
              <div class="type">
                <h4 class="address1">Simrol,</h4>
                <h4 class="address2">Indore,</h4>
                <h4 class="address3">Madhya Pradesh,</h4>
                <h4>India</h4>
              </div>
            </div>

            <!-- <div class="rent">
                <h3>Rent</h3>
                <h4 class="rent_value">1200$</h4>
             </div> -->

            <div class="tenant">
              <h3>tenant</h3>
              <h4 class="tenant_value">Manan Jiwnani</h4>
            </div>
            <a href="" class="details">More Details</a>
          </div>
        </div>
        <h1 class="MAIN_text">Other Properties</h1>
      </div>
      <div class="feature_display display"></div>
      <div class="feature_display display"></div>
      <div class="feature_display display"></div>
    </div>





  </section>




  <script src="javascripts/tenant_properties.js"></script>
</body>

</html>
