<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentEstate | Browse Vacancies</title>
    <link rel="stylesheet" href="stylesheets/vacancies.css">
</head>

<body>
    <div class="navbar">
        <img src="/images/Logo.svg" alt="Logo">
        <div class="heading">RentEstate</div>
        <div class="tabs">
                <% if (userId) { %>
                    <a href="/">Home</a>
                    <a href="/logout">LogOut</a>
                <% } else { %>
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            ☰
        </a>
    </div>
    <div id="myLinks" class="overlay">
        <a href="javascript:void(0);" class="closebtn" onclick="toggleMenu()">&times;</a>
                <% if (userId) { %>
                    <a href="/">Home</a>
                    <a href="/logout">LogOut</a>
                <% } else { %>
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
    </div>
    <div class="content">
        <div id="vac_header">
            <h1>Vacancies</h1>
            <h3>View the full list of available properties managed by RentEstate management</h3>
        </div>

        <section id="section">

            <div class="searchbar">

                <div class="fw">
                    <div class="filter searchtext" id="location">
                        <img src="images/search_1.svg" id="search_1">
                        <h3 class="search_text">Location</h3>
                    </div>
                    <div class="location display">
                        <select name="city" id="city" class="select ">
                            <option value="" selected>Select City</option>
                            <option value="Indore">Indore</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Jaipur">Delhi</option>
                            <option value="Chennai">Chennai</option>
                        </select>
                        <select name="state" id="state" class="select ">
                            <option value="" selected>Select State</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Gujrat">Gujrat</option>
                            <option value="Tamilnadu">Tamilnadu</option>
                            <option value="Rajasthan">Rajasthan</option>
                        </select>
                    </div>
                </div>

                <div class="fw">
                    <div class="filter searchtext" id="property">
                        <img src="images/search_2.svg" id="search_2">
                        <h3 class="search_text">Property Type</h3>
                    </div>
                    <div class="Property_type display">
                        <select name="type" id="type" class="select ">
                            <option value="" selected>Select Type</option>
                            <option value="Flat">Flat</option>
                            <option value="Villa">Villa</option>
                        </select>
                        <select name="bhk" id="bhk" class="select ">
                            <option value="" selected>Select BHK</option>
                            <option value="1 BHK">1 BHK</option>
                            <option value="2 BHK">2 BHK</option>
                            <option value="3 BHK">3 BHK</option>
                            <option value="4 BHK">4 BHK</option>
                            <option value="4 BHK+">4 BHK+</option>
                        </select>
                    </div>
                </div>

                <div class="fw">
                    <div class="filter searchtext" id="budget">
                        <img src="images/search_3.svg" id="search_3">
                        <h3 class="search_text">Budget</h3>
                    </div>
                    <div class="budget display">
                        <input type="number" name="min_budget" id="min_budget" placeholder="Min_Budget">
                        <input type="number" name="max_budget" id="max_budget" placeholder="Max_Budget">
                    </div>
                </div>


                <div id="search_btn">
                    <img src="images/search_logo.svg" id="search_logo">
                    <h3 id="search">Search</h3>
                </div>
            </div>

        </section>


        <div class="listings">
            <div class="grid_item">
                <div class="card">
                    <div class="image">
                        <img src="/images/home1.jpg" alt="Rental Property" class="card-img">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">3 BHK Villa</h2>
                        <p class="card-location">123 Main Street, Anytown, USA</p>
                        <p class="card-price">$1,200/month</p>
                        <a href="/property" target="_blank"><button class="card-button">View Details</button></a>
                    </div>
                </div>
            </div>
            


        </div>

        <script src="/javascripts/vacancies.js"></script>
</body>

</html>
