* {
  margin: 0;
  padding: 0;
  color: white;
  /* overflow-x: hidden; */
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaisei+HarunoUmi&family=Kameron:wght@400..700&family=Kumbh+Sans:wght@100..900&display=swap');

.content.blur {
  filter: blur(8px);
  transition: filter 0.3s;
}

.navbar {
  background-color: #27C4B1;
  display: flex;
  align-items: center;
  height: 10vh;
  /* width: 100vw; */
  padding: 15px 0;
  /* width: 100%; */
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

.navbar img {
  padding-left: 80px;
  padding-right: 10px;
  height: 60px;
}

.heading {
  display: inline;
  font-size: 46px;
  font-family: "Kameron", serif;
  font-weight: bold;
}

.tabs {
  display: flex;
  gap: 50px;
  margin-left: auto;
  margin-right: 80px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.tabs a {
  text-decoration: none;
}

.tabs a:hover {
  color: rgb(0, 100, 100);
}

.icon {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}

.section1 {
  background-image: url("/images/header_background.jpg");
  /* width: 100vw; */
  height: 63vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  padding-top: 10vh;
  font-size: 34px;
  width: 55vw;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 10px #1F5D52;
  font-family: "Kumbh Sans", sans-serif;
}

.h3 {
  padding-top: 3vh;
  font-size: 22px;
  width: 40vw;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 8px #1F5D52;
  font-family: "Kumbh Sans", sans-serif;
}

.second_h3 {
  width: 50vw;
}

.overlay {
  height: 25%;
  width: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 60px;
  cursor: pointer;
}

.overlay a {
  padding: 10px;
  padding-left: 20px;
  text-align: center;
  display: block;
  transition: 0.3s;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.overlay a:hover {
  color: #f1f1f1;
}


@media only screen and (max-width: 900px) and (min-width: 684px) {
  .h2 {
    font-size: 26px;
    width: 70vw;
  }

  .h3 {
    font-size: 20px;
    width: 60vw;
  }

  .tabs {
    font-size: 20px;
    gap: 30px;
    margin-right: 40px;
  }

  .navbar img {
    height: 50px;
    padding-left: 40px;
  }

  .heading {
    font-size: 42px;
  }

  .portal span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 684px) and (min-width: 556px) {
  .h2 {
    font-size: 22px;
    width: 60vw;
  }

  .h3 {
    font-size: 16px;
    width: 60vw;
  }

  .tabs {
    font-size: 18px;
    gap: 20px;
    margin-right: 30px;
  }

  .navbar img {
    height: 40px;
    padding-left: 30px;
  }

  .heading {
    font-size: 34px;
  }

}

@media only screen and (max-width: 556px) {
  .h2 {
    font-size: 20px;
    width: 70vw;
  }

  .h3 {
    font-size: 14px;
    width: 70vw;
  }

  .tabs {
    display: none;
  }

  .navbar img {
    height: 38px;
    padding-left: 20px;
    padding-right: 5px;
  }

  .heading {
    font-size: 32px;
  }


  .icon {
    display: block;
  }

  /* .second{
      width: 80vw;
  } */
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 90vh;
  width: 350px;
  background-image: url('/images/side_background.jpg');
  background-repeat: no-repeat;
  background-size: 116% 112%;
  background-position: center;
  /* margin:10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  padding-top: 20px;
}

.text {
  color: #828282;
  margin-top: 10px;
}

.main_feature {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature {
  width: 80%;
  height: 35px;
  display: flex;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 5px 0px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  align-items: center;
}

.feature:hover {
  background-color: rgba(137, 201, 201, 0.6);
}

.feature li :hover {
  color: #27C4B1;
}

h3 {
  justify-content: center;
}

.feature li {
  color: black;
  margin-left: 20%;
}

.text {
  width: 60%;
}


.diff_features {
  background: rgba(167, 241, 241, 0.5);
  width: 100%;
  display: flex;
  z-index: -2;
}

.features_display {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 1% 3%;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.rented_properties {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.MAIN_text {
  color: #07443e;
  font-size: 40px;
  text-align: center;
  font-family: "Kameron", serif;
  font-weight: bold;
  margin: 7px;
}

hr {
  width: 75%;

}

@media screen and (max-width : 700px) and (min-width: 550px) {
  .sidebar {
    width: 33%;
    margin: 0%;
  }

  .feature {
    font-size: 16px;
  }

  .feature li {
    margin: 0%;
  }

  .MAIN_text {
    font-size: 33px;
  }
}

@media screen and (max-width : 550px) {
  .diff_features {
    display: none;
  }

  .sidebar {
    width: 100vw;
    height: 90vh;
  }

  .container {
    height: 90%;
    justify-content: center;
  }
}


.owner-details p, b{
  color: black;
}

